.homeSearch {
    margin-top: 130px;
    margin-bottom: 80px;
}

.mainIcon {
    font-size: 50px;
    margin-bottom: 30px; 
}

td {
    padding: 0 !important;

    & > a {
        color: black;
        display: block;
        padding: 5px;
    }

    & > a:link {
        text-decoration: none;
    }
}