html
  head
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="../js/testing.js")
    link(rel="shortcut icon" href="")
  body
    h1 Homepage to search for weather
