body {
  background-image: url('http://i820.photobucket.com/albums/zz130/faulkev/Codepen/05%20-%20Ni0vHRh_zps8jfrojuv.jpg');
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-container {
  height: 75%;

}


.icon-img {
  display: inline-block;
  height: 75%;
  width: 75%;

  background-image: url('http://openweathermap.org/img/w/01n.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hi-temp {
  float: left;
  height: 100%;
  width: 60%;

}

.low-temp {
  position: relative;
  float: left;
  height: 100%;
  width: 40%;

}

.description {
  height: 25%;
  text-align: center;
  display: table;
  width: 100%;
}

.forecast-day-detail {
  height: 25%;
  position: relative;
}

.container-fluid{

  height: 100%;
  text-align: center;
}

.day {
  height: 100%;
}

.more-details {
  z-index:10000;
  visibility: hidden;
  background-color: gray;
  width: 100%;
  height: 10%;
  padding: 0;
  margin: 0;
}

.item-container {
  background: blue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#66b3ff, #b3d9ff, #66b3ff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#66b3ff, #b3d9ff, #66b3ff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#66b3ff, #b3d9ff, #66b3ff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#66b3ff, #b3d9ff, #66b3ff); /* Standard syntax */
  display: inline-block;
  height: 100%;
  width: 15%;
  margin-right: 1%;
  margin-left: 1%;
  vertical-align: top;
  text-align: center;
  z-index: 100;
}

.item-container:hover .more-details {
  visibility: visible;
}

.days-container {
  height: 40%;
  text-align: center;
  vertical-align: top;

  padding-top: 2%;
  padding-bottom: 2%;
}

.current-container {
  height: 50%;
}

.current-details {
  height: 100%;
  border-style: solid;
  width: 70%;
  float:left;
}

.current-extra {
  height: 100%;
  border-style: solid;
  width: 30%;
  float:left;
}

.current-weather {
  height: 100%;
  background: blue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#66b3ff, #b3d9ff, #66b3ff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#66b3ff, #b3d9ff, #66b3ff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#66b3ff, #b3d9ff, #66b3ff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#66b3ff, #b3d9ff, #66b3ff); /* Standard syntax */
  border-radius: 3%;
  box-shadow: 2px 4px;
}

.pad {
  height: 10%;

}

h4 {
  font-weight: bold;
  margin: 0;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
}

h1 {
  opacity: 1;
  color: black;
}

h2 {
  opacity: 1;
  color: black;
  overflow: hidden;
}

.day-title {
  height: 10%;
  text-align: center;
  display: table;
  width: 100%;
  padding-top: 10%;
}

.day-details {
  height: 80%;
}

[class*="col-"] {
  display: inline-block;
  width: 80%;

}

@media only screen and (max-width: 1000px) {
  .item-container {
    width: 50%;
    height: 50%;
    margin-top: 2%;
  }

  .days-container {
    height: 100%;
  }

}

@media only screen and (max-width: 500px) {
  .current-extra {
    display: none;
  }

  .current-details {
    width: 100%;
  }

}

@media only screen and (min-width: 500px) {
  .current-extra {
    display: inline-block;
  }

}

@media only screen and (min-width: 1000px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
    height: 100%;
    position: relative;
  }
}
