/*** HOME PAGE ***/
#home-search {
  width: 505px;
  margin: 0 auto;
}

td {
  padding: 0 !important;
}

td > a {
  color: black;
  display: block;
  padding: 5px;
}

td > a:link {
  text-decoration: none;
}

/*** NAVBAR ***/
.navbar-description {
  color: white;
  font-size: 20px;
  line-height: 50px;
  left: 0;
  margin: auto !important;
  position: absolute;
  right: 0;
  width: 250px;
}

@media only screen and (max-width: 860px) {
  .navbar-description {
    display: none;
  }
}